<h1>Welcome!</h1>
<div class="container">
	<h1>Register</h1>
		<% if flash[:errors_register] %>
			<p>Please correct the following errors:</p>
			<% flash[:errors_register].each do |error| %>
				<p class='error'><%= error %></p>
			<% end %>
		<% end %>
	<%= simple_form_for @user do |f| %>
		<%=f.input :name %>
		<%=f.input :alias %>
		<%=f.input :email %>
		<%=f.input :password %>
		<%=f.input :password_confirmation %>
		<%=f.button :submit, 'Register', class: 'btn btn-primary' %>
	<% end %>
</div>

<div class="container">
	<h1>Login</h1>
		<% if flash[:errors_login] %>
			<p class='error'><%= flash[:errors_login] %></p>
		<% end %>
	<%= simple_form_for :session, url: sessions_path, method: :post do |f| %>
		<%=f.input :email %>
		<%=f.input :password %>
		<%=f.button :submit, 'Login', class: 'btn btn-primary' %>
	<% end %>
</div>