<div class="container">
	<h2>Bright Idea</h2>
	<div class="row post">
		<div class="col-md-2 bold"><%= @post.user.name %> says:</div>
		<div class="col-md-6"><%= @post.idea %></div>
	</div>

	<p>People who liked this post:</p>

	<table>
		<thead>
			<tr>
				<th>Alias</th>
				<th>Name</th>
			</tr>
		</thead>
		<tbody>
			<% @likes.each do |like| %>
				<tr>
					<td><%= like.user.alias %></td>
					<td><%= like.user.name %></td>
				</tr>
			<% end %>	
		</tbody>
	</table>

	<%= link_to 'Bright Ideas', posts_path %>
	<%= link_to 'Logout', session_path(current_user), method: :delete, class: 'btn btn-primary' %>

</div>
