<!DOCTYPE html>
<html>
<head>
  <title>BrightIdeas</title>
  <%# <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%# <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%# <%= csrf_meta_tags %>
</head>
<body>

<% if flash[:errors] %>
  <% flash[:errors].each do |e| %>
    <p><%= e %></p>
  <% end %>
<% end %>

<%= yield %>

</body>
</html>
